:root {
    --light-bg-color: #f4f4f4;
    --light-text-color: #333;
    --light-input-bg: #fff;
    --light-button-bg: #4caf50;
    --light-button-hover: #45a049;

    --dark-bg-color: #333;
    --dark-text-color: #fff;
    --dark-input-bg: #222;
    --dark-button-bg: #4caf50;
    --dark-button-hover: #45a049;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: var(--light-bg-color);
    color: var(--light-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
}

.todo-container {
    text-align: center;
    background-color: var(--light-bg-color);
    border-radius: 8px;
    padding: 16px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

h1 {
    color: var(--light-text-color);
}

.add-task-container {
    display: flex;
 
    gap: 10px;
}

#logoutButton {
    background-color: red;
    color: white;
}

input,
textarea {
    padding: 8px;
    margin-bottom: 8px;
    background-color: var(--light-input-bg);
    color: var(--light-text-color);
    transition: background-color 0.3s ease, color 0.3s ease;
}

body.dark input,
body.dark textarea {
    background-color: var(--dark-input-bg);
    color: var(--dark-text-color);
}

button {
    padding: 8px;
    background-color: var(--light-button-bg);
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: var(--light-button-hover);
}

body.dark button {
    background-color: var(--dark-button-bg);
}

body.dark button:hover {
    background-color: var(--dark-button-hover);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 8px;
    padding: 12px;
    border: 1px solid #ddd;
    background-color: var(--light-bg-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

li:hover {
    background-color: #f1f1f1;
}

body.dark li {
    background-color: var(--dark-bg-color);
}

p {
    margin-top: 8px;
    color: #666;
}

.header {
    display: fixed;
    justify-content: left; /* Tema seçenekleri ile header arasında boşluk bırakmak için */
    align-items: center; /* İsteğe bağlı: İçerikleri dikey hizalamak için */
    margin-right: 10px;
    padding: 8px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.header-content {
    margin-right: 16px
}

.progress-bar-container {
    margin: 20px 0;
    display: flex; /* Flex konteyner olarak ayarla */
    align-items: center; /* İçerikleri dikey ortala */
    position: relative;
    background-color: #daa9a9;
    border-radius: 5px;
    overflow: hidden;
    padding: 5px; /* Örnek bir değer, ihtiyaca göre artırabilirsiniz */
}

.progress-bar {
    height: 100%;
    width: 100%;
    background-color: #ff0000; 
    border-radius: 5px;
    transition: width 0.5s, background-color 0.5s; 
}

.percentage-label {
    position: absolute;
    top: 50%;
    right: 10px; 
    transform: translate(0, -50%);
    font-size: 14px;
    color: #333;
}

.progress-label {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translate(0, -50%);
    font-size: 15px;
    color: #333;
}

